* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
body {
  font-family: "Noto Sans TC", sans-serif;
  color: #ffffff;
  overflow: hidden;
}
@media screen and (max-width: 1200px) {
  .nowPlayingColumn {
    display: none;
  }
  .peopleColumn {
    min-width: 100% !important;
  }
}
@media screen and (max-width: 815px) {
  .base-friend .main .header .children .tab {
    display: none!important;
  }
}
@media screen and (min-width: 761px) {
  .base-server .main .header .children {
    display: flex !important;
  }
}
@media screen and (max-width: 760px) {
  .base-server .main .header .children {
    display: none !important;
  }
}
@media screen and (min-width: 701px) {
  .base-server .main .container .chatContent {
    display: block;
  }
}
@media screen and (max-width: 700px) {
  .base-server .main .container .chatContent {
    display: none;
  }
}
.app {
  display: flex;
}
.app .base-friend {
  display: flex;
  width: 100%;
}
.app .base-friend .leftMain {
  width: 240px;
  height: 100vh;
  background-color: #2f3136;
  user-select: none;
}
.app .base-friend .leftMain .searchBar {
  width: 100%;
  height: 49px;
  border-bottom: 1px solid #232527;
  margin-bottom: 8px;
}
.app .base-friend .leftMain .searchBar input {
  width: 220px;
  height: 28px;
  margin: 10px;
  font-size: 14px;
  color: #fff;
  padding-left: 7px;
  border: 0;
  outline: none;
  background-color: #202225;
}
.app .base-friend .leftMain .channel {
  display: flex;
  width: 224px;
  height: 42px;
  line-height: 42px;
  margin: 0 auto 4px;
  padding-left: 15px;
  border-radius: 6px;
  font-weight: 200;
  cursor: pointer;
}
.app .base-friend .leftMain .channel:hover {
  background-color: #393c43;
  opacity: 0.8;
}
.app .base-friend .leftMain .channel i {
  display: block;
  width: 25px;
  height: 20px;
  margin: 12px 17px 0 0;
}
.app .base-friend .leftMain .channel .friend-icon {
  background: url(../img/friend.png) no-repeat center center;
}
.app .base-friend .leftMain .channel .nitro-icon {
  background: url(../img/nitro.png) no-repeat center center;
}
.app .base-friend .leftMain .current {
  background-color: #393c43;
  opacity: 1 !important;
}
.app .base-friend .leftMain .private_message {
  display: flex;
  width: 100%;
  height: 30px;
  line-height: 30px;
}
.app .base-friend .leftMain .private_message span {
  flex: 1;
  font-size: 12px;
  font-weight: 100;
  padding-left: 15px;
}
.app .base-friend .leftMain .private_message i {
  font-size: 20px;
  font-weight: 400;
  text-align: right;
  padding-right: 20px;
  font-style: normal;
  cursor: pointer;
}
.app .base-friend .leftMain ul {
  width: 100%;
}
.app .base-friend .leftMain ul li {
  display: flex;
  align-items: center;
  position: relative;
  width: 90%;
  height: 43px;
  line-height: 43px;
  margin: 0 10px;
  padding-left: 6px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #2f3136;
}
.app .base-friend .leftMain ul li .avatar {
  position: relative;
  display: block;
  width: 32px;
  height: 32px;
  margin-right: 13px;
  border-radius: 50%;
  background-color: #fff;
}
.app .base-friend .leftMain ul li .avatar .status {
  position: absolute;
  right: -2px;
  bottom: -2px;
  width: 15px;
  height: 15px;
  background-color: #2f3136;
  border-radius: 50%;
}
.app .base-friend .leftMain ul li .avatar .status img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  background-size: cover;
  z-index: 1;
}
.app .base-friend .leftMain ul li .avatar img {
  width: 100%;
  border-radius: 50%;
}
.app .base-friend .leftMain ul li .userName {
  font-size: 16px;
  font-weight: 200;
  opacity: 0.8;
}
.app .base-friend .leftMain ul li .close {
  display: none;
  position: absolute;
  right: 10px;
  width: 12px;
  height: 1px;
  border-radius: 30%;
  background-color: #fff;
  transform: rotate(-45deg);
  opacity: 0.8;
}
.app .base-friend .leftMain ul li .close::before {
  content: "";
  display: block;
  width: 12px;
  height: 1px;
  border-radius: 10%;
  background-color: #fff;
  transform: rotate(90deg);
}
.app .base-friend .leftMain ul li .close:hover {
  opacity: 1;
}
.app .base-friend .leftMain ul li:hover {
  background-color: #34373c;
}
.app .base-friend .leftMain ul li:hover .userName {
  opacity: 1;
}
.app .base-friend .leftMain ul li:hover .close {
  display: block;
}
.app .base-friend .main {
  width: 100%;
  height: 100%;
  background-color: #35383d;
}
.app .base-friend .main .header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 49px;
  padding: 0 8px;
  border-bottom: 1px solid #2b2d32;
}
.app .base-friend .main .header .children {
  display: flex;
  align-items: center;
  -webkit-box-align: center;
  padding: 0 8px;
  user-select: none;
  min-width: 0px;
  overflow: hidden;
}
.app .base-friend .main .header .children .icon {
  width: 24px;
  height: 24px;
  background: url(../img/friend.png) no-repeat center center;
  opacity: 0.6;
}
.app .base-friend .main .header .children .title {
  font-size: 16px;
  font-weight: 300;
  margin-left: 8px;
}
.app .base-friend .main .header .children .divider {
  margin: 0 16px;
  width: 1px;
  height: 24px;
  background-color: #42454a;
}
.app .base-friend .main .header .children .tab {
  display: flex;
}
.app .base-friend .main .header .children .tab li {
  height: 24px;
  line-height: 16px;
  padding: 4px 8px;
  text-align: center;
  border-radius: 5px;
  margin-right: 15px;
  font-weight: 200;
  white-space: nowrap;
  cursor: pointer;
}
.app .base-friend .main .header .children .tab li:hover {
  background-color: #3e4249;
  opacity: 0.8;
}
.app .base-friend .main .header .children .tab li:last-child {
  width: 80px;
  height: 24px;
  opacity: 1;
  background-color: #43a560;
  margin: 0 0 0 8px;
}
.app .base-friend .main .header .children .tab .current {
  background-color: #3e4249;
  opacity: 1 !important;
}
.app .base-friend .main .header .toolbar {
  position: absolute;
  right: 15px;
  display: flex;
  min-width: 0;
  background-color: #35383d;
}
.app .base-friend .main .header .toolbar .iconWrap {
  position: relative;
  width: 24px;
  height: 24px;
  margin: 0 17px;
  opacity: 0.7;
  cursor: pointer;
}
.app .base-friend .main .header .toolbar .iconWrap:last-child {
  margin: 0 2px;
}
.app .base-friend .main .header .toolbar .iconWrap:hover {
  opacity: 1;
}
.app .base-friend .main .header .toolbar .iconWrap:hover .dialog {
  display: block;
}
.app .base-friend .main .header .toolbar .iconWrap .dialog {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 140%;
  height: 35px;
  line-height: 19px;
  padding: 8px;
  background-color: #18191c;
  border-radius: 5px;
  font-size: 14px;
  white-space: nowrap;
  z-index: 1;
}
.app .base-friend .main .header .toolbar .iconWrap .dialog::before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%);
  top: -50%;
  width: 0;
  height: 0;
  border: 6px solid;
  border-color: transparent transparent #18191c transparent;
}
.app .base-friend .main .header .toolbar .divider {
  width: 1px;
  height: 24px;
  background-color: #42454a;
}
.app .base-friend .main .tabBody {
  display: flex;
  width: 100%;
  height: 94.9%;
}
.app .base-friend .main .tabBody .peopleColumn {
  width: 100%;
  height: 100%;
}
.app .base-friend .main .tabBody .peopleColumn .title {
  font-size: 12px;
  font-weight: 400;
  color: #b9bbbe;
  margin: 16px 20px 8px 30px;
}
.app .base-friend .main .tabBody .peopleColumn ul .peopleListItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 0px;
  height: 62px;
  margin-left: 30px;
  margin-right: 20px;
  padding: 0 10px;
  border-top: 1px solid #3a3e44;
  border-radius: 8px;
  cursor: pointer;
}
.app .base-friend .main .tabBody .peopleColumn ul .peopleListItem .userInfo {
  display: flex;
  align-items: center;
  min-width: 0px;
}
.app .base-friend .main .tabBody .peopleColumn ul .peopleListItem .userInfo .avatar {
  position: relative;
  display: block;
  width: 32px;
  height: 32px;
  margin-right: 13px;
  border-radius: 50%;
  background-color: #fff;
}
.app .base-friend .main .tabBody .peopleColumn ul .peopleListItem .userInfo .avatar .status {
  position: absolute;
  right: -2px;
  bottom: -2px;
  width: 15px;
  height: 15px;
  background-color: #2f3136;
  border-radius: 50%;
}
.app .base-friend .main .tabBody .peopleColumn ul .peopleListItem .userInfo .avatar .status img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  background-size: cover;
  z-index: 1;
}
.app .base-friend .main .tabBody .peopleColumn ul .peopleListItem .userInfo .avatar img {
  width: 100%;
  border-radius: 50%;
}
.app .base-friend .main .tabBody .peopleColumn ul .peopleListItem .userInfo .text .userName {
  font-size: 16px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.app .base-friend .main .tabBody .peopleColumn ul .peopleListItem .userInfo .text .status {
  font-size: 14px;
  font-weight: 300;
  color: #be9bbe;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.app .base-friend .main .tabBody .peopleColumn ul .peopleListItem .actions {
  display: flex;
}
.app .base-friend .main .tabBody .peopleColumn ul .peopleListItem .actions .actionButton {
  position: relative;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  cursor: pointer;
}
.app .base-friend .main .tabBody .peopleColumn ul .peopleListItem .actions .actionButton:first-child {
  background: url(../img/actionButton1.png) no-repeat center center;
  background-color: #2f3136;
}
.app .base-friend .main .tabBody .peopleColumn ul .peopleListItem .actions .actionButton:last-child {
  background: url(../img/actionButton2.png) no-repeat center center;
  margin-left: 10px;
  background-color: #2f3136;
}
.app .base-friend .main .tabBody .peopleColumn ul .peopleListItem .actions .actionButton .dialog {
  display: none;
  position: absolute;
  left: 50%;
  top: -115%;
  transform: translateX(-50%);
  height: 35px;
  line-height: 8px;
  padding: 12px;
  background-color: #18191c;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 300;
  white-space: nowrap;
  z-index: 1;
}
.app .base-friend .main .tabBody .peopleColumn ul .peopleListItem .actions .actionButton .dialog::before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 34px;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border: 6px solid;
  border-color: #18191c transparent transparent transparent;
}
.app .base-friend .main .tabBody .peopleColumn ul .peopleListItem .actions .actionButton:hover .dialog {
  display: block;
}
.app .base-friend .main .tabBody .peopleColumn ul .peopleListItem:hover {
  background-color: #3a3e44;
  border-top: 1px solid transparent;
}
.app .base-friend .main .tabBody .peopleColumn ul .peopleListItem:hover .actions .actionButton:first-child,
.app .base-friend .main .tabBody .peopleColumn ul .peopleListItem:hover .actions .actionButton:last-child {
  background-color: #202225;
}
.app .base-friend .main .tabBody .nowPlayingColumn {
  flex: 0 1 30%;
  min-width: 360px;
  max-width: 420px;
  height: 100%;
  border-left: 1px solid #42454a;
  padding: 0 17px;
}
.app .base-friend .main .tabBody .nowPlayingColumn .header {
  font-weight: 500;
  margin: 8px 0;
  padding: 0;
  border: 0;
}
.app .base-friend .main .tabBody .nowPlayingColumn .itemCard {
  width: 100%;
  height: 140px;
  padding: 16px;
  margin-bottom: 8px;
  background-color: #2f3136;
  border: 1px solid #3b3d42;
  border-radius: 8px;
  cursor: pointer;
}
.app .base-friend .main .tabBody .nowPlayingColumn .itemCard .itemCardHD {
  display: flex;
  align-items: center;
  height: 32px;
}
.app .base-friend .main .tabBody .nowPlayingColumn .itemCard .itemCardHD .avatar {
  flex: 0 1 32px;
  position: relative;
  display: block;
  width: 32px;
  height: 32px;
  margin-right: 13px;
  border-radius: 50%;
  background-color: #fff;
}
.app .base-friend .main .tabBody .nowPlayingColumn .itemCard .itemCardHD .avatar .status {
  position: absolute;
  right: -2px;
  bottom: -2px;
  width: 15px;
  height: 15px;
  background-color: #2f3136;
  border-radius: 50%;
}
.app .base-friend .main .tabBody .nowPlayingColumn .itemCard .itemCardHD .avatar .status img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  background-size: cover;
  z-index: 1;
}
.app .base-friend .main .tabBody .nowPlayingColumn .itemCard .itemCardHD .avatar img {
  width: 100%;
  border-radius: 50%;
}
.app .base-friend .main .tabBody .nowPlayingColumn .itemCard .itemCardHD div {
  flex: 1;
  line-height: 1.1;
}
.app .base-friend .main .tabBody .nowPlayingColumn .itemCard .itemCardHD div .userName {
  font-size: 16px;
  color: #dbdcdd;
}
.app .base-friend .main .tabBody .nowPlayingColumn .itemCard .itemCardHD div .secondary {
  font-size: 14px;
  font-weight: 300;
  color: #939599;
}
.app .base-friend .main .tabBody .nowPlayingColumn .itemCard .itemCardHD .spotifyIcon {
  display: block;
  width: 24px;
  height: 24px;
  background: url(../img/spotify.png) no-repeat center center;
  background-size: cover;
}
.app .base-friend .main .tabBody .nowPlayingColumn .itemCard .itemCardBD {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 58px;
  margin-top: 15px;
  padding: 15px;
  background-color: #36393f;
  border-radius: 8px;
}
.app .base-friend .main .tabBody .nowPlayingColumn .itemCard .itemCardBD .serverAvatar {
  flex: 0 1 32px;
  width: 32px;
  height: 32px;
  padding: 0;
  border-radius: 50%;
  overflow: hidden;
}
.app .base-friend .main .tabBody .nowPlayingColumn .itemCard .itemCardBD .serverAvatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.app .base-friend .main .tabBody .nowPlayingColumn .itemCard .itemCardBD div {
  flex: 1;
  color: #c8c9cb;
  text-align: left;
  padding-left: 10px;
}
.app .base-friend .main .tabBody .nowPlayingColumn .itemCard .itemCardBD div .serverName {
  padding: 0;
  font-size: 14px;
  font-weight: 500;
}
.app .base-friend .main .tabBody .nowPlayingColumn .itemCard .itemCardBD div .secondary {
  padding: 0;
  font-size: 12px;
}
.app .base-friend .main .tabBody .nowPlayingColumn .itemCard .itemCardBD span {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: url(../img/discord-icon.png) no-repeat center center;
  background-size: cover;
  background-color: #5a68ee;
}
.app .base-friend .main .tabBody .nowPlayingColumn .itemCard:hover {
  background-color: #18191c;
}
.app .base-friend .main .tabBody .nowPlayingColumn .itemCard:last-child .itemCardBD .serverAvatar {
  border-radius: 5px;
}
.app .base-server {
  display: flex;
  width: 100%;
}
.app .base-server .leftMain {
  width: 240px;
  min-width: 240px;
  height: 100vh;
  background-color: #2f3136;
  user-select: none;
}
.app .base-server .leftMain .header {
  position: relative;
  height: 48px;
  line-height: 48px;
  padding: 0 16px;
  border-bottom: 1px solid #232527;
  font-size: 15px;
  cursor: pointer;
}
.app .base-server .leftMain .header::before {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  transform: rotate(45deg);
  content: "";
  width: 8px;
  height: 2px;
  background-color: #fff;
}
.app .base-server .leftMain .header::after {
  position: absolute;
  right: 19px;
  top: 50%;
  transform: translateY(-50%);
  transform: rotate(-45deg);
  content: "";
  width: 8px;
  height: 2px;
  background-color: #fff;
}
.app .base-server .leftMain .textChannel {
  padding-top: 16px;
  color: #fff;
}
.app .base-server .leftMain .textChannel span {
  position: relative;
  margin-left: 16px;
  font-size: 12px;
  color: #8e9297;
  cursor: pointer;
}
.app .base-server .leftMain .textChannel span::before,
.app .base-server .leftMain .textChannel span::after {
  position: absolute;
  top: 50%;
  transform: translateX(-50%);
  left: -10px;
  content: "";
  width: 4px;
  height: 1px;
  background-color: #8e9297;
  transform: rotate(45deg);
}
.app .base-server .leftMain .textChannel span::after {
  left: -7px;
  transform: rotate(-45deg);
}
.app .base-server .leftMain .textChannel span:hover {
  color: #dcddde;
}
.app .base-server .leftMain .textChannel span:hover::before,
.app .base-server .leftMain .textChannel span:hover::after {
  background-color: #dcddde;
}
.app .base-server .leftMain .textChannel ul {
  padding: 0 8px;
}
.app .base-server .leftMain .textChannel ul .channelName {
  position: relative;
  display: flex;
  align-items: center;
  height: 34px;
  line-height: 34px;
  background-color: #393c43;
  border-radius: 5px;
  padding: 0 8px;
  margin-bottom: 2px;
  font-size: 16px;
  font-weight: 200;
  cursor: pointer;
}
.app .base-server .leftMain .textChannel ul .channelName::before {
  display: block;
  content: "";
  width: 16px;
  height: 18px;
  margin-right: 8px;
  background: url(../img/hashtag.png) no-repeat center center;
}
.app .base-server .leftMain .textChannel ul .channelName::after {
  position: absolute;
  right: 8px;
  display: block;
  content: "";
  width: 13px;
  height: 15px;
  background: url(../img/addinvite.png) no-repeat center center;
}
.app .base-server .leftMain .textChannel ul .channelName:last-child {
  background-color: transparent;
}
.app .base-server .leftMain .textChannel ul .channelName:last-child::after {
  display: none;
}
.app .base-server .leftMain .textChannel ul .channelName:last-child:hover {
  background-color: #34373c;
}
.app .base-server .leftMain .textChannel ul .channelName:last-child:hover::after {
  display: block;
}
.app .base-server .leftMain .voiceChannel {
  margin-top: 12px;
}
.app .base-server .leftMain .voiceChannel span {
  position: relative;
  margin-left: 16px;
  font-size: 12px;
  color: #8e9297;
  cursor: pointer;
}
.app .base-server .leftMain .voiceChannel span::before,
.app .base-server .leftMain .voiceChannel span::after {
  position: absolute;
  top: 50%;
  transform: translateX(-50%);
  left: -10px;
  content: "";
  width: 4px;
  height: 1px;
  background-color: #8e9297;
  transform: rotate(45deg);
}
.app .base-server .leftMain .voiceChannel span::after {
  left: -7px;
  transform: rotate(-45deg);
}
.app .base-server .leftMain .voiceChannel span:hover {
  color: #dcddde;
}
.app .base-server .leftMain .voiceChannel span:hover::before,
.app .base-server .leftMain .voiceChannel span:hover::after {
  background-color: #dcddde;
}
.app .base-server .leftMain .voiceChannel ul {
  padding: 0 8px;
}
.app .base-server .leftMain .voiceChannel ul .channelName {
  position: relative;
  display: flex;
  align-items: center;
  height: 34px;
  line-height: 34px;
  border-radius: 5px;
  padding: 0 8px;
  margin-bottom: 2px;
  font-size: 16px;
  font-weight: 200;
  color: #8e9297;
  cursor: pointer;
}
.app .base-server .leftMain .voiceChannel ul .channelName::before {
  display: block;
  content: "";
  width: 16px;
  height: 18px;
  margin-right: 8px;
  background: url(../img/speaker.png) no-repeat center center;
}
.app .base-server .leftMain .voiceChannel ul .channelName:hover {
  background-color: #34373c;
}
.app .base-server .leftMain .voiceChannel ul ul {
  padding: 0;
  padding-left: 24px;
}
.app .base-server .leftMain .voiceChannel ul ul .user {
  display: flex;
  align-items: center;
  height: 30px;
  padding-left: 8px;
  border-radius: 5px;
  cursor: pointer;
}
.app .base-server .leftMain .voiceChannel ul ul .user .avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  overflow: hidden;
}
.app .base-server .leftMain .voiceChannel ul ul .user .avatar img {
  width: 100%;
}
.app .base-server .leftMain .voiceChannel ul ul .user .userName {
  padding-left: 8px;
  font-size: 14px;
  color: #8e9297;
}
.app .base-server .leftMain .voiceChannel ul ul .user:hover {
  background-color: #34373c;
}
.app .base-server .main {
  width: 100%;
  background-color: #35383d;
}
.app .base-server .main .header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 48px;
  border-bottom: 1px solid #282b2f;
}
.app .base-server .main .header .children {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  margin-left: 18px;
}
.app .base-server .main .header .children i {
  display: block;
  width: 18px;
  height: 16px;
  background: url(../img/hashtag.png) no-repeat center center;
  margin-right: 10px;
}
.app .base-server .main .header .children .title {
  font-size: 16px;
  font-weight: 300;
}
.app .base-server .main .header .toolbar {
  flex: 0 0 auto;
  display: flex;
}
.app .base-server .main .header .toolbar .iconWrap {
  position: relative;
  width: 24px;
  height: 24px;
  margin: 0 10px;
  cursor: pointer;
}
.app .base-server .main .header .toolbar .iconWrap img {
  width: 100%;
}
.app .base-server .main .header .toolbar .iconWrap .dialog {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 140%;
  padding: 8px;
  background-color: #18191c;
  border-radius: 5px;
  font-size: 14px;
  white-space: nowrap;
  z-index: 1;
}
.app .base-server .main .header .toolbar .iconWrap .dialog::before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%);
  top: -50%;
  width: 0;
  height: 0;
  border: 6px solid;
  border-color: transparent transparent #18191c transparent;
}
.app .base-server .main .header .toolbar .iconWrap:hover .dialog {
  display: block;
}
.app .base-server .main .header .toolbar input {
  position: relative;
  width: 144px;
  height: 23px;
  padding-left: 5px;
  border-radius: 5px;
  background-color: #202225;
  outline: none;
  border: 0;
  font-size: 14px;
  color: #fff;
}
.app .base-server .main .header .toolbar input:focus {
  width: 240px;
}
.app .base-server .main .container {
  display: flex;
  width: 100%;
  height: 100%;
}
.app .base-server .main .container .chatContent {
  position: relative;
  flex: 1 1 auto;
  width: 100%;
  min-width: 0;
  padding: 0 16px;
}
.app .base-server .main .container .chatContent .messagesWrap {
  max-height: calc(100vh - 124px);
  text-align: center;
  overflow: hidden scroll;
}
.app .base-server .main .container .chatContent .messagesWrap .inner {
  padding: 16px 16px 0;
  border-bottom: 1px solid #525558;
}
.app .base-server .main .container .chatContent .messagesWrap .inner p {
  font-size: 30px;
  font-weight: bold;
}
.app .base-server .main .container .chatContent .messagesWrap .inner p:last-child {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 300;
  color: #b9bbbe;
}
.app .base-server .main .container .chatContent .messagesWrap .message {
  display: flex;
  margin: 10px 0;
  align-items: center;
  text-align: left;
}
.app .base-server .main .container .chatContent .messagesWrap .message .avatar {
  margin-right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.app .base-server .main .container .chatContent .messagesWrap .message .avatar img {
  width: 100%;
}
.app .base-server .main .container .chatContent .messagesWrap .message div .messgeHD {
  flex: 1 1 auto;
  display: flex;
}
.app .base-server .main .container .chatContent .messagesWrap .message div .messgeHD .userName {
  font-weight: 300;
}
.app .base-server .main .container .chatContent .messagesWrap .message div .messgeHD .date {
  padding-top: 5px;
  margin-left: 10px;
  font-size: 10px;
  font-weight: 100;
  color: #72767d;
}
.app .base-server .main .container .chatContent .messagesWrap .message div p {
  font-weight: 300;
}
.app .base-server .main .container .chatContent .messagesWrap::-webkit-scrollbar {
  display: none;
}
.app .base-server .main .container .chatContent .channelTextArea {
  display: flex;
  align-items: center;
  position: fixed;
  width: calc(100% - 585px);
  min-width: 0;
  bottom: 30px;
  height: 44px;
  border-radius: 8px;
  background-color: #40444b;
  overflow: hidden;
}
.app .base-server .main .container .chatContent .channelTextArea .attachButton {
  flex: 0 0 auto;
  position: relative;
  width: 20px;
  height: 20px;
  margin: 0 16px;
  background-color: #b9bbbe;
  border-radius: 50%;
  outline: none;
  border: 0;
  cursor: pointer;
}
.app .base-server .main .container .chatContent .channelTextArea .attachButton::before,
.app .base-server .main .container .chatContent .channelTextArea .attachButton::after {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  content: '';
  width: 10px;
  height: 2px;
  background-color: #40444b;
}
.app .base-server .main .container .chatContent .channelTextArea .attachButton::after {
  transform: translate(-50%, -50%) rotate(90deg);
}
.app .base-server .main .container .chatContent .channelTextArea input {
  flex: 1 1 auto;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  background-color: transparent;
  outline: none;
  border: 0;
}
.app .base-server .main .container .chatContent .channelTextArea .buttons {
  display: flex;
  align-items: center;
}
.app .base-server .main .container .chatContent .channelTextArea .buttons .iconWrap {
  width: 44px;
  height: 40px;
  line-height: 46px;
  text-align: center;
  cursor: pointer;
  opacity: 0.7;
}
.app .base-server .main .container .chatContent .channelTextArea .buttons .iconWrap:hover {
  opacity: 1;
}
.app .base-server .main .container .membersWrap {
  flex: 1 0 auto;
  min-width: 240px;
  border-left: 1px solid #42454a;
}
.app .base-server .main .container .membersWrap .title {
  padding: 16px 8px 0 16px;
  font-size: 12px;
  font-weight: 300;
  color: #8e9297;
}
.app .base-server .main .container .membersWrap ul .member {
  display: flex;
  align-items: center;
  margin: 0 8px;
  padding: 0 8px;
  height: 42px;
  border-radius: 5px;
  cursor: pointer;
}
.app .base-server .main .container .membersWrap ul .member .avatar {
  position: relative;
  display: block;
  width: 32px;
  height: 32px;
  margin-right: 13px;
  border-radius: 50%;
  background-color: #fff;
}
.app .base-server .main .container .membersWrap ul .member .avatar .status {
  position: absolute;
  right: -2px;
  bottom: -2px;
  width: 15px;
  height: 15px;
  background-color: #2f3136;
  border-radius: 50%;
}
.app .base-server .main .container .membersWrap ul .member .avatar .status img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  background-size: cover;
  z-index: 1;
}
.app .base-server .main .container .membersWrap ul .member .avatar img {
  width: 100%;
  border-radius: 50%;
}
.app .base-server .main .container .membersWrap ul .member .userName {
  font-size: 16px;
  font-weight: 200;
  opacity: 0.8;
}
.app .base-server .main .container .membersWrap ul .member:hover {
  background-color: #42454a;
}
.panels {
  position: fixed;
  display: flex;
  align-items: center;
  bottom: 0;
  width: 240px;
  height: 52px;
  background-color: #292b2f;
  z-index: 1;
}
.panels .avatar {
  position: relative;
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 8px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}
.panels .avatar:hover {
  opacity: 0.85;
}
.panels .avatar .status {
  position: absolute;
  right: -2px;
  bottom: -2px;
  width: 15px;
  height: 15px;
  background-color: #2f3136;
  border-radius: 50%;
}
.panels .avatar .status img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  background-size: cover;
  z-index: 1;
}
.panels .avatar img {
  width: 100%;
  border-radius: 50%;
}
.panels .nameTag {
  width: 87px;
  line-height: 1.1;
  cursor: pointer;
}
.panels .nameTag .userName {
  font-size: 14px;
}
.panels .nameTag .userNum {
  font-size: 12px;
  font-weight: 300;
  color: #b9bbb1;
}
.panels .mic {
  position: relative;
  background: url(../img/mic.png) no-repeat center center;
  background-color: transparent;
  border-radius: 5px;
}
.panels .mic:hover {
  background-color: #35383d;
}
.panels .mic:hover .dialog {
  display: block;
}
.panels .mic::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  display: block;
  width: 23px;
  height: 2px;
  border: 1px solid #292b2f;
  border-radius: 2px;
  background-color: #a1363f;
}
.panels .mic .dialog {
  display: none;
  position: absolute;
  left: -23px;
  top: -25px;
  transform: translateY(-50%);
  height: 35px;
  line-height: 8px;
  padding: 12px;
  background-color: #18191c;
  border-radius: 5px;
  font-size: 14px;
  white-space: nowrap;
  font-style: normal;
  z-index: 1;
}
.panels .mic .dialog::before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -11px;
  width: 0;
  height: 0;
  border: 6px solid;
  border-color: #18191c transparent transparent transparent;
}
.panels .headset {
  position: relative;
  background: url(../img/headset.png) no-repeat center center;
  background-color: transparent;
  border-radius: 5px;
}
.panels .headset:hover {
  background-color: #35383d;
}
.panels .headset:hover .dialog {
  display: block;
}
.panels .headset::before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  content: "";
  display: block;
  width: 23px;
  height: 2px;
  border: 1px solid #292b2f;
  border-radius: 2px;
  background-color: #a1363f;
}
.panels .headset .dialog {
  display: none;
  position: absolute;
  left: -10px;
  top: -25px;
  transform: translateY(-50%);
  height: 35px;
  line-height: 8px;
  padding: 12px;
  background-color: #18191c;
  border-radius: 5px;
  font-size: 14px;
  white-space: nowrap;
  font-style: normal;
  z-index: 1;
}
.panels .headset .dialog::before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -11px;
  width: 0;
  height: 0;
  border: 6px solid;
  border-color: #18191c transparent transparent transparent;
}
.panels .setting {
  background: url(../img/setting.png) no-repeat center center;
  background-color: transparent;
  border-radius: 5px;
}
.panels .setting:hover {
  background-color: #35383d;
}
.panels .setting:hover .dialog {
  display: block;
}
.panels .setting .dialog {
  display: none;
  position: absolute;
  left: 168px;
  top: -15px;
  transform: translateY(-50%);
  height: 35px;
  line-height: 8px;
  padding: 12px;
  background-color: #18191c;
  border-radius: 5px;
  font-size: 14px;
  white-space: nowrap;
  font-style: normal;
  z-index: 1;
}
.panels .setting .dialog::before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -11px;
  width: 0;
  height: 0;
  border: 6px solid;
  border-color: #18191c transparent transparent transparent;
}
.panels i {
  display: block;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.displayNone {
  display: none !important;
}
.displayFlex {
  display: flex;
}
