* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
body {
  font-family: "Noto Sans TC", sans-serif;
  color: #ffffff;
  overflow: hidden;
}
.app .sidebar {
  width: 72px;
  height: 100vh;
  min-width: 72px;
  background-color: #202225;
}
.app .sidebar .homeWrap {
  width: 100%;
  margin: 12px auto 0;
}
.app .sidebar .homeWrap .home {
  position: relative;
  width: 48px;
  height: 48px;
  margin: 0 auto;
  border-radius: 50%;
  background: url(../img/discord-icon.png) no-repeat center top;
  background-color: #36393f;
  transition: 0.1s;
  cursor: pointer;
}
.app .sidebar .homeWrap .home:hover {
  border-radius: 30%;
  background-color: #5a68ee;
}
.app .sidebar .homeWrap .home:hover::before {
  height: 20px;
}
.app .sidebar .homeWrap .home::before {
  content: "";
  position: absolute;
  left: -12px;
  top: 50%;
  transform: translateY(-50%);
  width: 4px;
  height: 0px;
  background-color: #fff;
  border-radius: 0 3px 3px 0;
  transition: 0.1s ease-out;
}
.app .sidebar .homeWrap .homeBB {
  display: block;
  width: 32px;
  height: 2px;
  margin: 8px auto;
  background-color: #2d2f32;
}
.app .sidebar .listWrap .listItem {
  position: relative;
  width: 48px;
  height: 48px;
  margin: 0 auto 8px;
  border-radius: 50%;
  transition: 0.1s ease-out;
  cursor: pointer;
}
.app .sidebar .listWrap .listItem:nth-child(1) {
  background: url(../img/server1.jpg) no-repeat center top;
  background-size: cover;
}
.app .sidebar .listWrap .listItem:nth-child(1)::after {
  content: attr(data-content-after);
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0 5px;
  font-size: 10px;
  line-height: 1.5;
  background-color: #ed4245;
  border-radius: 15px;
  border: 3px solid #202225;
}
.app .sidebar .listWrap .listItem:nth-child(2) {
  background: url(../img/server2.jpg) no-repeat center top;
  background-size: cover;
}
.app .sidebar .listWrap .listItem:nth-child(3) {
  background: url(../img/server3.jpeg) no-repeat center top;
  background-size: cover;
}
.app .sidebar .listWrap .listItem:nth-child(4) {
  background: url(../img/add-server.png) no-repeat center center;
  background-color: #36393f;
}
.app .sidebar .listWrap .listItem:nth-child(4):hover {
  background: url(../img/add-server2.png) no-repeat center center;
  background-color: #43a560;
}
.app .sidebar .listWrap .listItem:nth-child(5) {
  background: url(../img/search-server.png) no-repeat center center;
  background-color: #36393f;
}
.app .sidebar .listWrap .listItem:nth-child(5):hover {
  background: url(../img/search-server2.png) no-repeat center center;
  background-color: #43a560;
}
.app .sidebar .listWrap .listItem::before {
  content: "";
  position: absolute;
  left: -12px;
  top: 50%;
  transform: translateY(-50%);
  width: 4px;
  height: 0;
  background-color: #fff;
  border-radius: 0 3px 3px 0;
  transition: 0.1s ease-out;
}
.app .sidebar .listWrap .listItem .dialog {
  display: none;
  position: absolute;
  left: 140%;
  top: 50%;
  transform: translateY(-50%);
  height: 35px;
  line-height: 8px;
  padding: 12px;
  background-color: #18191c;
  border-radius: 5px;
  white-space: nowrap;
  z-index: 1;
}
.app .sidebar .listWrap .listItem .dialog::before {
  content: "";
  display: block;
  position: absolute;
  left: -12px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border: 6px solid;
  border-color: transparent #18191c transparent transparent;
}
.app .sidebar .listWrap .listItem:hover {
  border-radius: 35%;
  background-color: #5a68ee;
}
.app .sidebar .listWrap .listItem:hover .dialog {
  display: block;
}
.app .sidebar .listWrap .listItem:hover::before {
  height: 20px;
}
.app .sidebar .downloadWrap {
  width: 100%;
  margin: 0 auto;
}
.app .sidebar .downloadWrap .downloadBT {
  display: block;
  width: 32px;
  height: 2px;
  margin: 0 auto 7px;
  background-color: #2d2f32;
}
.app .sidebar .downloadWrap .download {
  position: relative;
  width: 48px;
  height: 48px;
  margin: 0 auto;
  border-radius: 50%;
  background: url(../img/download.png) no-repeat center center;
  background-color: #36393f;
  transition: 0.1s ease-out;
  cursor: pointer;
}
.app .sidebar .downloadWrap .download::before {
  content: "";
  position: absolute;
  left: -12px;
  top: 50%;
  transform: translateY(-50%);
  width: 4px;
  height: 0;
  background-color: #fff;
  border-radius: 0 3px 3px 0;
  transition: 0.1s ease-out;
}
.app .sidebar .downloadWrap .download .dialog {
  display: none;
  position: absolute;
  left: 140%;
  top: 50%;
  transform: translateY(-50%);
  height: 35px;
  line-height: 8px;
  padding: 12px;
  background-color: #18191c;
  border-radius: 5px;
  white-space: nowrap;
  z-index: 1;
}
.app .sidebar .downloadWrap .download .dialog::before {
  content: "";
  display: block;
  position: absolute;
  left: -12px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border: 6px solid;
  border-color: transparent #18191c transparent transparent;
}
.app .sidebar .downloadWrap .download:hover {
  border-radius: 33%;
  background: url(../img/download2.png) no-repeat center center;
  background-color: #43a560;
}
.app .sidebar .downloadWrap .download:hover::before {
  height: 20px;
}
.app .sidebar .downloadWrap .download:hover .dialog {
  display: block;
}
.app .sidebar .current::before {
  height: 40px!important;
}
